// ----------------------- Mixin ---------------------------

@mixin SwiperButtonDesign ($width: 2.625rem, $height: 2.625rem, $bgColor: rgba(0, 0, 0, 0.4)) {
    width: $width;
    height: $height;
    background-color: $bgColor;
    border-radius: 50%;
}
@mixin angleBracket ($width: 1rem, $height: 1rem, $border: 2px, $borderColor: #fff, $angle: 180) {
    width: $width;
    height: $height;
    border: solid #{$border} #{$borderColor};
    transform: rotate(#{$angle}deg);
    display: block;
}


/* Main Title H2 */
@mixin mainTitleH2Mixin ($color: #fff) {
    font-size: 1.5rem; // 24px
    font-weight: 700; // Bold
    line-height: 2rem; // 32px
    color: $color;
}
/* Main Title P */
@mixin mainTitlePMixin ($color: #fff) {
    font-size: 1rem; // 16px
    font-weight: 500; // Medium
    line-height: 1.5rem; // 24px
    color: $color;
}
/* Main Title P */
@mixin mainTitlePMixin ($color: #fff) {
    font-size: 1rem; // 16px
    font-weight: 500; // Medium
    line-height: 1.5rem; // 24px
    color: $color;
}


// ----------------------- class ---------------------------
