@mixin SwiperButtonDesign ($width: 2.625rem, $height: 2.625rem, $bgColor: rgba(0, 0, 0, 0.4)) {
    width: $width;
    height: $height;
    background-color: $bgColor;
    border-radius: 50%;
}
@mixin angleBracket ($width: 1rem, $height: 1rem, $border: 2px, $borderColor: #fff, $angle: 180) {
    width: $width;
    height: $height;
    border: solid #{$border} #{$borderColor};
    transform: rotate(#{$angle}deg);
    display: block;
}