footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000;
    a{
        color: #fff;
    }
    #footerTopMenu{
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 100%;
        max-width: 1920px;
        border-bottom: solid 1px #333;
        li{
            display: flex;
            align-items: center;
            gap: 10px;
            a{
                font-size: 1rem;
                line-height: 60px;
                display: inline-block;
                text-align: center;
                padding: 0 20px;
            }
            span{
                display: inline-block;
                width: 1px;
                height: 1rem;
                background-color: #fff;
            }
            &:last-child span{
                display: none;
            }
        }
    }
    #footerBottomBox{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 30px 30px 60px;
        box-sizing: border-box;
        #footerLeft{
            display: flex;
            flex-direction: column;
            gap: 20px;
            h3{
                a{
                    display: block;
                    img{
                        display: block;
                        width: 180px;
                        object-fit: contain;
                    }
                }
            }
            .companyInfo{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                color: #fff;
                .boldText{
                    font-weight: 500;
                }
                li{
                    display: flex;
                    gap: 20px;
                    span{
                        display: flex;
                        gap: 10px;
                    }
                }
            }
        }
        #footerRight{
            display: flex;
            flex-direction: column;
            gap: 24px;
            .familySiteBox{
                position: relative;
                width: 200px;
                height: 40px;
                border: solid 1px #fff;
                border-radius: 10px;
                box-sizing: border-box;
                button{
                    width: 100%;
                    line-height: 40px;
                    padding: 0 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #fff;
                    background-color: transparent;
                    border: 0;
                }
                ul{
                    position: absolute;
                    bottom: 100%;
                    left: 0;
                    width: 100%;
                    background-color: #000;
                    border: solid 1px #fff;
                    border-radius: 10px;
                    box-sizing: border-box;
                    li{
                        a{
                            display: block;
                            line-height: 40px;
                            padding: 0 20px;
                            border-bottom: solid 1px #fff;
                        }
                        &:last-child a{
                            border: 0;
                        }
                    }
                }
            }
            .contactBox{
                display: flex;
                flex-direction: column;
                gap: 14px;
                li{
                    a{
                        display: flex;
                        align-items: center;
                        font-size: 1.2rem;
                        gap: 10px;
                    }
                }
            }
        }
    }
}