html{
    background-color: #000;
    body{
        // 구글폰트 Noto Sans KR (100-900)
        .noto-sans-kr-light-300 {
            font-family: "Noto Sans KR", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;
        }
        .noto-sans-kr-regular-400 {
            font-family: "Noto Sans KR", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }
        .noto-sans-kr-medium-500 {
            font-family: "Noto Sans KR", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
        }
        .noto-sans-kr-bold-700 {
            font-family: "Noto Sans KR", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
        }
        //구글폰트 Roboto (En, 100-900, italic)
        .roboto-bold-italic {
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-style: italic;
        }          
        
        background-color: #000;
        font-family: "Noto Sans KR", sans-serif;
        // height: 100vh;
    }
}

// header
.scrolledBg{
    background-color: #000 !important;
}
.activeHeader{
    display: block !important;
}

.topBanner{
    width: 100%;
    height: 60px;
    position: relative;
    background-color: antiquewhite;
    .adCloseBtnBox{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 10px;
        width: 100%;
        gap: 10px;
        div{
            line-height: 60px;
            font-size: 14px;
            input{
                border: 0;
            }
        }
        button{
            display: block;
            width: .875rem;
            height: .875rem;
            background: transparent;
            border: 0;
            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
#header{
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: solid 1px rgb(255, 255, 255, .6);
    transition: all 0.2s ease-in-out;
    &::before{
        backdrop-filter: blur(6px);
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    a{
        color: #fff;
    }
    #headerContainer{
        width: 100%;
        max-width: 1920px;
        position: relative;
        .headerLogo{
            width: 100%;
            display: none;
            a{
                display: block;
                color: #fff;
                text-align: center;
                line-height: 0;
                padding-top: 20px;
                box-sizing: border-box;
                img{
                    width: 180px;
                    height: 40px;
                    object-fit: contain;
                }
            }
        }
        .gnbContainer{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            .mobileSideMenu{
                position: absolute;
                top: 0;
                left: 0;
                width: 24px;
                display: none;
            }
            .headerLogoSticky{
                position: absolute;
                top: 0;
                left: 40px;
                // width: 100%;
                display: none;
                a{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 60px;
                    img{
                        width: 180px;
                        height: 40px;
                        object-fit: contain;
                    }
                }
            }
            .gnb{
                width: 100%;
                max-width: 1280px;
                margin: 0 auto;
                .gnbDepth01{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 14%;
                    width: 100%;
                    max-width: 1280px;
                    box-sizing: border-box;
                    text-align: center;
                    > li{
                        position: relative;
                        width: 20%;
                        > a{
                            display: block;
                            line-height: 60px;
                            &:hover{
                                background-color: #333;
                            }
                        }
                        .gnbDepth02{
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 100%;
                            height: 0;
                            opacity: 0;
                            overflow: hidden;
                            transition: all 0.2s ease-in-out;
                            li{
                                width: 100%;
                                a{
                                    display: block;
                                    line-height: 50px;
                                    &:hover{
                                        background-color: #333;
                                    }
                                }
                            }
                        }
                    }
                }
                &:hover + .gnbBg,
                & .gnbDepth01:hover .gnbDepth02{
                    height: 400px;
                    opacity: 1;
                    background-color: #000;
                }
            }
            .gnbBg{
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 0;
                z-index: -1;
                overflow: hidden;
                transition: all 0.2s ease-in-out;
                &::before{
                    backdrop-filter: blur(6px);
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }
            }
            .utilMenu{
                position: absolute;
                top: 0;
                right: 40px;
                display: flex;
                align-items: center;
                gap: 6px;
                li{
                    a{
                        display: block;
                        width: 24px;
                        line-height: 60px;
                        font-size: 20px;
                        color: #fff;
                    }
                    button{
                        width: 24px;
                        font-size: 20px;
                        line-height: 60px;
                        display: inline-block;
                        color: #fff;
                        background-color: transparent;
                        cursor: pointer;
                        border: 0;
                    }
                }
            }
            .backBtn{
                display: none;
            }
        }
    }
}