#subLoginMain{
    gap: 60px;
    width: 100%;
    max-width: 580px;
    #loginTabBox{
        width: 100%;
        h2{
            color: #fff;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 2rem;
        }
        #loginTab{
            .nav-item{
                .nav-link{
                    line-height: 24px;
                    color: #969696;
                    font-size: 1rem;
                    font-weight: 400;
                    &.active{
                        font-size: 1.125rem;
                        font-weight: 500;
                        color: #fff;
                    }
                }
            }
        }
    }
    #loginContentBox{
        width: 100%;
        gap: 20px;
        .tab-content{
            width: 100%;
            padding: 50px 30px;
            box-sizing: border-box;
            border: solid 1px #fff;
            border-radius: 14px;
            .tab-pane{
                &.active{
                    color: #fff;
                }
                form{
                    fieldset{
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                        legend{}
                        .inputBox{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            span{
                                input{
                                    line-height: 60px;
                                    width: 100%;
                                    border-radius: 10px;
                                    background-color: #000;
                                    border: solid 1px #fff;
                                    outline: 0;
                                    color: #fff;
                                    padding: 0 20px;
                                    box-sizing: border-box;
                                    &::placeholder{
                                        color: #ccc;
                                    }
                                }
                            }
                        }
                        .submitBtn{
                            input{
                                background-color: #fff;
                                border-radius: 10px;
                                border: 0;
                            }
                        }
                        .fieldsetContainer{
                            display: flex;
                            flex-direction: column;
                            gap: 14px;
                            .loginCheckBox{
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                gap: 10px;
                                padding: 0 20px;
                            }
                        }
                        .submitBtn{
                            input{
                                display: block;
                                line-height: 60px;
                                width: 100%;
                            }
                        }
                    }
                    .otherLoginBox{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        button{
                            line-height: 60px;
                            width: 100%;
                            border-radius: 10px;
                        }
                    }
                    .qrCode{
                        width: 50%;
                        margin: 0 auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 10px;
                        span{
                            text-align: center;
                        }
                    }
                }
            }
        }
        .joinSearchBtn{
            display: flex;
            gap: 10px;
            justify-content: flex-end;
            padding: 0 20px;
            li{
                display: flex;
                gap: 10px;
                align-items: center;
                &::after{
                    content: '';
                    display: block;
                    width: 1px;
                    height: 16px;
                    background-color: #fff;
                }
                &:last-child::after{
                    display: none;
                }
                a{
                    color: #fff;
                }
            }
        }
    }
}