@import './_var.scss'; 

/* 웹접근성을 위한 스크린리더용 컨텐츠 */
.screenReaderOnly{
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
}

// Main Page
// commonClass
@mixin contentsTitleStyle{
    line-height: 34px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}
@mixin plusBtnStyle{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #FFF;
}
@mixin rankNumberStyle{
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 3rem;
    line-height: 56px;
    color: #fff;
    position: absolute;
    top: 294px;
    left: 0;
    padding-left: 12px;
    width: 100%;
}
@mixin movieName{
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 26px;
}
@mixin afterLine14px{
    content: '';
    width: 1px;
    height: 14px;
    background-color: #fff;
    display: inline-block;
}
@keyframes logo-scroll01 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes logo-scroll02 {
    0% {
        transform: translateX(calc(-250px * 7));
    }

    100% {
        transform: translateX(0);
    }
}


.titleBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .contentsTitle{
        @include contentsTitleStyle;
    }
    .plusBtn{
        display: flex;
        gap: 4px;
        align-items: center;
        span{
            display: block;
            @include plusBtnStyle;
        }
        img{
            display: block;
            width: 14px;
            height: 14px;
            object-fit: cover;
            transform: rotate(180deg);
        }
    }
}

#mainMain{
    width: 100%;
    gap: 120px;
    transform: translateY(-60px);
    margin: 0 0 -60px;

    // 섹션1 - 메인배너
    #mainBannerBox{
        width: 100%;
        max-width: 1920px;
        height: 800px;
        #mainBanner{
            position: relative;
            .swiper-wrapper{
                .swiper-slide{
                    a{
                        img{
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
            // 스와이퍼 페이지네이션
            .swiper-button{
                @include SwiperButtonDesign;
                @mixin SwiperNextButtonPosition ($position: absolute, $top: 50%, $X, $Xnum: 0, $zIndex: 2) {
                    position: $position;
                    top: $top;
                    #{$X}: $Xnum;
                    z-index: $zIndex;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .swiper-button.nextBtn{
                right: 12%;
                transform: rotate(180deg);
            }
            .swiper-button.prevBtn{
                left: 12%;
            }
        }
    }

    // 섹션2 - 영화 순위
    #movieRankBox{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .rankContainer{
            display: flex;
            flex-direction: column;
            gap: 60px;
            border-radius: 8px;
            padding: 20px 30px;
            background-color: #333;
            .movieRank{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .rankTitle{
                    display: flex;
                    gap: 20px;
                    padding-left: 10px;
                    li{
                        button{
                            text-align: center;
                            line-height: 24px;
                            box-sizing: border-box;
                            color: #969696;
                            font-size: 1rem;
                            font-weight: 500;
                            &.active{
                                background-color: #333;
                                color: #fff;
                            }
                        }
                    }
                }
                .rankContent{
                    position: relative;
                    .swiper.mySwiper{
                        width: 100%;
                        height: 100%;
                        margin: 0 auto;
                        > .swiper-wrapper{
                            width: 100%;
                            display: flex;
                            > .swiper-slide{
                                width: 232px;
                                position: relative;
                                .topContent{
                                    display: block;
                                    position: relative;
                                    padding-bottom: 20px;
                                    &::before{
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        width: 100%;
                                        height: 330px;
                                        border-radius: 8px;
                                        background-color: transparent;
                                        transition: all 0.4s ease-in-out;
                                        z-index: 1;
                                    }
                                    &:hover::before{
                                        background-color: rgb(0, 0, 0, .6);
                                        border: solid 1px rgb(229, 9, 20, .6);
                                    }
                                    > img{
                                        display: block;
                                        width: 100%;
                                        height: 330px;
                                        object-fit: cover;
                                        border-radius: 8px;
                                        border: solid 1px rgb(255, 255, 255, .1);
                                        box-sizing: border-box;
                                    }
                                    .rankNumber{
                                        @include rankNumberStyle;
                                        display: block;
                                        z-index: 3;
                                        &::after{
                                            content: '';
                                            display: block;
                                            width: 100%;
                                            height: 50px;
                                            position: absolute;
                                            bottom: 20px;
                                            left: 0;
                                            border-radius: 8px;
                                            background: linear-gradient(to top, rgb(0, 0, 0, .6), rgb(0, 0, 0, 0));
                                            z-index: -1;
                                        }
                                    }
                                    .likeBtn{
                                        position: absolute;
                                        top: 10px;
                                        right: 10px;
                                        display: none;
                                        align-items: center;
                                        justify-content: center;
                                        width: 36px;
                                        height: 36px;
                                        // background-color: rgb(0, 0, 0, 0.6);
                                        border-radius: 50%;
                                        cursor: pointer;
                                        transition: all 0.4s ease-in-out;
                                        z-index: 3;
                                        > img{
                                            display: block;
                                            width: 24px;
                                            height: 24px;
                                            object-fit: cover;
                                        }
                                    }
                                    &:hover .likeBtn{
                                        display: flex;
                                    }
                                    .hoverBtn{
                                        display: none;
                                        flex-direction: column;
                                        gap: 10px;
                                        justify-content: center;
                                        align-items: center;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 330px;
                                        transition: all 0.4s ease-in-out;
                                        z-index: 2;
                                        a{
                                            display: block;
                                            font-weight: 500;
                                            line-height: 26px;
                                            padding: 6px 66px;
                                            color: #fff;
                                            border: solid 1px #FFF;
                                            border-radius: 8px;
                                            &:hover{
                                                background-color: #fff;
                                                color: #333;
                                            }
                                        }
                                    }
                                    &:hover .hoverBtn{
                                        display: flex;
                                    }
                                }
                                > a{
                                    color: #fff;
                                    display: block;
                                    .middleContent{
                                        display: flex;
                                        gap: 6px;
                                        justify-content: center;
                                        align-items: center;
                                        margin-bottom: 6px;
                                        img{
                                            display: inline-block;
                                            width: 24px;
                                            height: 24px;
                                            object-fit: cover;
                                        }
                                        strong{
                                            @include movieName;
                                            display: inline-block;
                                        }
                                    }
                                    .bottomContent{
                                        display: flex;
                                        gap: 6px;
                                        justify-content: center;
                                        align-items: center;
                                        > span{
                                            display: flex;
                                            gap: 4px;
                                            align-items: center;
                                            &::after{
                                                @include afterLine14px;
                                                margin-left: 2px;
                                            }
                                            &:last-child::after{
                                                display: none;
                                            }
                                            span{
                                                display: inline-block;
                                                font-size: 14px;
                                                line-height: 20px;
                                            }
                                            .numText{
                                                display: inline-block;
                                                font-weight: 600;
                                                font-size: 14px;
                                                line-height: 20px;
                                            }
                                            img{
                                                display: inline-block;
                                                width: 14px;
                                                height: 14px;
                                                object-fit: cover;
                                            }
                                        }
                                    }
                                }
                                .adClock{
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-end;
                                    gap: 4px;
                                    color: #fff;
                                    padding-right: 8px;
                                    img{
                                        display: block;
                                        width: 14px;
                                        height: 14px;
                                        object-fit: cover;
                                    }
                                    span{
                                        display: block;
                                        font-size: 12px;
                                        line-height: 20px;
                                    }
                                }
                            }
                        }
                    }
                    // 스와이퍼 페이지네이션
                    .swiper-button{
                        width: 42px;
                        height: 42px;
                        border-radius: 50%;
                        background-color: rgba(0, 0, 0, 0.2);
                        position: absolute;
                        top: calc(165px - 21px);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        z-index: 2;
                        img{
                            width: 32px;
                            height: 32px;
                        }
                    }
                    .swiper-button.nextBtn{
                        right: -21px;
                        transform: rotate(180deg);
                    }
                    .swiper-button.prevBtn{
                        left: -21px;
                    }
                    .swiper-pagination-bullet {
                        width: 14px;
                        height: 14px;
                        text-align: center;
                        line-height: 20px;
                        font-size: 12px;
                        color: #000;
                        opacity: 1;
                        background: rgba(0, 0, 0, 0.2);
                    }
                    .swiper-pagination-bullet-active {
                        color: #fff;
                        background: #007aff;
                    }
                }
            }
        }
    }

    // 섹션3 - 리뷰
    #reviewBox{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        #reviewList{
            display: flex;
            gap: 16px;
            > li{
                display: flex;
                justify-content: space-between;
                width: 416px;
                height: 228px;
                border-radius: 8px;
                padding: 14px 16px;
                border: solid 1px rgb(255, 255, 255, .1);
                box-sizing: border-box;
                &:hover{
                    background-color: rgba(255, 255, 255, .2);
                    border: solid 1px rgb(229, 9, 20, .6);
                }
                .reviewLeft{
                    position: relative;
                    display: block;
                    width: 140px;
                    height: 200px;
                    .reviewMovieName{
                        display: flex;
                        gap: 4px;
                        align-items: center;
                        padding: 6px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        z-index: 1;
                        img{
                            width: 14px;
                            height: 14px;
                            object-fit: cover;
                        }
                        span{
                            font-size: 1rem;
                            color: #fff;
                        }
                    }
                    .reviewImg{
                        position: relative;
                        display: block;
                        width: 140px;
                        height: 200px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 8px;
                        }
                        &::after{
                            content: '';
                            display: block;
                            width: 100%;
                            height: 40px;
                            bottom: 0;
                            left: 0;
                            position: absolute;
                            border-radius: 8px;
                            background: linear-gradient(to top, rgb(0, 0, 0, .6), rgb(0, 0, 0, 0));
                        }
                    }
                }
                .reviewText{
                    width: 228px;
                    height: 190px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    color: #fff;
                    .text01{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        .userName{
                            font-size: 1rem;
                            font-weight: 600;
                        }
                        .text{
                            display: flex;
                            flex-direction: column;
                            gap: 4px;
                            .textTitle{
                                font-size: 1rem;
                                font-weight: 600;
                            }
                            .textcontent{
                                font-size: 1rem;
                            }
                        }
                    }
                    .text02{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        gap: 10px;
                        .reviewTag{
                            display: flex;
                            gap: 4px;
                            justify-content: flex-end;
                            li{
                                display: flex;
                                border: solid 1px #fff;
                                border-radius: 20px;
                                padding: 2px 6px;
                                span{
                                    display: block;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 16px;
                                }
                            }
                        }
                        .reviewNum{
                            display: flex;
                            align-content: center;
                            justify-content: flex-end;
                            gap: 4px;
                            padding: 0 6px;
                            img{
                                width: 14px;
                                height: 14px;
                                object-fit: cover;
                            }
                            strong{
                                line-height: 14px;
                                font-size: .875rem;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }

    // 섹션 4, 7 - 중간 광고
    #middleBannerBox{
        width: 100%;
        max-width: 1920px;
        height: 140px;
        #middleBanner.swiper.mySwiper{
            width: 100%;
            height: 100%;
            .swiper-wrapper{
                .swiper-slide{
                    a{
                        img{
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }

    // 섹션 5 - 이벤트
    #eventBox{
        width: 100%;
        max-width: 1280px;
        gap: 20px;
        .eventContentBox{
            .eventImg{
                width: 50%;
                span{
                    img{
                        display: block;
                        width: 100%;
                        height: 330px;
                        object-fit: cover;
                        border-radius: 8px;
                        border: solid 1px rgb(255, 255, 255, .1);
                        box-sizing: border-box;
                    }
                }
            }
            #topBox{
                width: 50%;
                ul{
                    li{
                        width: 100%;
                        a{
                            color: #969696;
                            display: flex;
                            gap: 10px;
                            padding: 0 20px;
                            margin: 0 10px;
                            box-sizing: border-box;
                            border-bottom: solid 1px #ccc;
                            span{
                                display: block;
                                line-height: 66px;
                            }
                            .eventTitle{
                                width: 100px;
                                font-size: 1rem;
                                font-weight: 500;
                            }
                            .eventContent{
                                font-size: 1rem;
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                &::before{
                                    display: block;
                                    content: '';
                                    width: 1px;
                                    height: 16px;
                                    background-color: #ccc;
                                }
                            }
                            &.active{
                                color: #FFF;
                            }
                        }
                        &:last-child a{
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    // 섹션 6 - 시사회
    #previewBox{
        width: 100%;
        max-width: 1280px;
        gap: 20px;
        .previewContent{
            li{
                width: 16%;
                &.previewHover{
                    width: 50%;
                }
                a{
                    color: #fff;
                    line-height: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    img{
                        width: 100%;
                        height: 300px;
                        object-fit: cover;
                        border-radius: 8px;
                        border: solid 1px rgb(255, 255, 255, .1);
                    }
                }
            }
        }
    }

    // 섹션 7 - 스토어
    #storeBox{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        #storeList{
            display: flex;
            gap: 16px;
            .storeContent{
                position: relative;
                overflow: hidden;
                width: 32%;
                height: 228px;
                border: solid 1px rgb(255, 255, 255, .1);
                border-radius: 8px;
                &:hover{
                    border: solid 1px rgb(229, 9, 20, .6);
                }
                &:hover img{
                    transform: scale(1.1);
                }
                .region{
                    background-color: rgb(229, 9, 20, .6);
                    color: #fff;
                    padding: 2px 12px;
                    border-radius: 14px;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
                .storeText{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    box-sizing: border-box;
                    z-index: 3;
                    background-color: rgb(0, 0, 0, .6);
                    span{
                        color: #fff;
                    }
                    .storeTitle{
                        display: flex;
                        align-items: baseline;
                        gap: 6px;
                        line-height: 40px;
                        padding: 0 14px;
                        box-sizing: border-box;
                        .itemName{
                            font-size: 1.125rem;
                            font-weight: 500;
                        }
                    }
                    .storeInfo{
                        font-size: .875rem;
                        text-align: center;
                    }
                }
                img{
                    width: 100%;
                    height: 228px;
                    object-fit: cover;
                    box-sizing: border-box;
                    transition: all .8s ease-in-out;
                }
            }
        }
    }

    // 섹션 8 - 인스타그램
    #instagramBox{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .logo-slider{
            overflow: hidden;
            position: relative;
            width: 100%;
            .logo-slide-track01{
                animation: logo-scroll01 60s linear infinite;
                display: flex;
                gap: 20px;
                width: calc(200px * 10);
                animation-duration: 30s;
                animation-iteration-count: infinite;
                .slide{
                    height: 200px;
                    width: 200px;
                }
            }
            .logo-slide-track02{
                animation: logo-scroll02 60s linear infinite;
                display: flex;
                gap: 20px;
                width: calc(200px * 10);
                animation-duration: 30s;
                animation-iteration-count: infinite;
                .slide{
                    height: 200px;
                    width: 200px;
                }
            }
        }
    }

    // 섹션 9 - 공지사항, 자주 묻는 질문
    #noticeFnqBox{
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        display: flex;
        // 공지사항
        #noticeBox{
            width: 33.333%;
            max-width: 640px;
            box-sizing: border-box;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: #191919;
            padding: 30px;
            ul{
                display: flex;
                flex-direction: column;
                gap: 10px;
                li{
                    a{
                        display: flex;
                        justify-content: space-between;
                        color: #fff;
                        span{
                            display: block;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
        // 자주 묻는 질문
        #fnqBox{
            width: 33.333%;
            max-width: 640px;
            box-sizing: border-box;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: #333;
            padding: 30px;
            ul{
                display: flex;
                flex-direction: column;
                gap: 10px;
                li{
                    a{
                        display: flex;
                        justify-content: space-between;
                        color: #fff;
                        span{
                            display: block;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
        #contactBox{
            width: 33.333%;
            max-width: 640px;
            box-sizing: border-box;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: #191919;
            padding: 30px;
            .contactBox{
                gap: 14px;
                li{
                    a{
                        color: #fff;
                        font-size: 1.2rem;
                        gap: 10px;
                    }
                }
            }
        }
    }
}