main{
    transform: translateY(-60px); // 헤더와 top: 0;을 맞춤
    #container{
        width: 100%;
        #mainBannerBox{
            width: 100%;
            .mainBanner{
                li{
                    width: 1280px;
                    height: 700px;
                    margin: 0 auto;
                    background-color: #f1f1f5;
                    a{}
                }
            }
        }
    }
}