<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <span class="titleBox d-flex justify-content-between align-items-center">
        <span class="d-flex flex-column">
            <h3>타이틀</h3>
            <p>타이틀 소개문구</p>
        </span>
        <a href="#none" class="d-flex align-items-center gap-1">더보기</a>
    </span>
</body>
</html>