<body>

    <!------- Header ------->
    <header id="header" class="navbar navbar-expand-lg sticky-top">
        <div class="headerContainer container-fluid">
            <!-- 카테고리 버튼 -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span>
                    <img src="https://via.placeholder.com/24x24.jpg" alt="카테고리 탭 아이콘">
                </span>
            </button>
            <!-- Logo -->
            <h1 class="navbar-brand">
                <a href="/">
                    <img src="/img/logo/logoEnWhite.svg" alt="소담씨네 영문 로고 이미지">
                </a>
            </h1>
            <!-- Navigation -->
            <nav id="navbarSupportedContent" class="collapse navbar-collapse justify-content-center">
                <ul class="navDepth01 navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">예매</a>
                        <ul class="navDepth02">
                            <li>
                                <a href="#">예매하기</a>
                            </li>
                            <li>
                                <a href="#">상영시간표</a>
                            </li>
                            <li>
                                <a href="#">할인안내</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sub/movie.html">영화</a>
                        <ul class="navDepth02">
                            <li>
                                <a href="#">현재상영작</a>
                            </li>
                            <li>
                                <a href="#">상영예정작</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">영화관</a>
                        <ul class="navDepth02">
                            <li>
                                <a href="#">
                                    서울
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    경기/인천
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    충청/대전
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    전라/광주
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    경북/대구
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    경남/울산/부산
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    강원
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    제주
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sub/event.html">이벤트</a>
                        <ul class="navDepth02">
                            <li>
                                <a href="#">영화별 이벤트</a>
                            </li>
                            <li>
                                <a href="#">
                                    시사회/무대인사
                                </a>
                            </li>
                            <li>
                                <a href="#">인기 이벤트</a>
                            </li>
                            <li>
                                <a href="#">제휴할인</a>
                            </li>
                            <li>
                                <a href="#">지역별 이벤트</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">스토어</a>
                        <ul class="navDepth02">
                            <li>
                                <a href="#">베스트</a>
                            </li>
                            <li>
                                <a href="#">관람권</a>
                            </li>
                            <li>
                                <a href="#">스낵/음료
                                </a>
                            </li>
                            <li>
                                <a href="#">굿즈</a>
                            </li>
                            <li>
                                <a href="#">포토카드</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- Util Menu -->
            <ul class="utilMenu">
                <li>
                    <a href="/sub/login.html" class="xi-log-in xi-2x"></a>
                </li>
                <li>
                    <a href="#" class="xi-user-plus-o xi-2x"></a>
                </li>
                <li>
                    <a href="#" class="xi-coupon xi-2x"></a>
                </li>
                <li>
                    <button type="submit" class="xi-search xi-2x"></button>
                </li>
            </ul>
            <div class="headerfakeBg"></div>
        </div>
    </header>