<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SODAM CINE</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#da532c">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!---------------------------------------------------------------------------->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/scss/sample.min.css?var=<?php echo time(); ?>">
</head>
<body>
    <header id="header">
        <div class="headerContainer">
            <h1>
                <a class="#">
                    <a class="navbar-brand" href="#">
                    <img src="/img/logoEnWhite.svg" alt="소담씨네 영문 로고 이미지">
                </a>
            </h1>
            <nav>
                <ul class="navDepth01">
                    <li>
                        <a href="#">예매</a>
                        <ul class="navDepth02">
                            <li>
                                <a href="#">예매하기</a>
                            </li>
                            <li>
                                <a href="#">상영시간표</a>
                            </li>
                            <li>
                                <a href="#">할인안내</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">영화</a>
                        <ul class="navDepth02">
                            <li>
                                <a href="#">현재상영작</a>
                            </li>
                            <li>
                                <a href="#">상영예정작</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">영화관</a>
                        <ul class="navDepth02">
                            <li>
                                <a href="#">서울</a>
                            </li>
                            <li>
                                <a href="#">경기
                                    <span class="areaClassify"></span>인천
                                </a>
                            </li>
                            <li>
                                <a href="#">충청
                                    <span class="areaClassify"></span>대전
                                </a>
                            </li>
                            <li>
                                <a href="#">전라
                                    <span class="areaClassify"></span>광주
                                </a>
                            </li>
                            <li>
                                <a href="#">경북
                                    <span class="areaClassify"></span>대구
                                </a>
                            </li>
                            <li>
                                <a href="#">경남
                                    <span class="areaClassify"></span>울산
                                    <span class="areaClassify"></span>부산
                                </a>
                            </li>
                            <li>
                                <a href="#">강원</a>
                            </li>
                            <li>
                                <a href="#">제주</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">이벤트</a>
                        <ul class="navDepth02">
                            <li>
                                <a href="#">영화별 이벤트</a>
                            </li>
                            <li>
                                <a href="#">
                                    시사회
                                    <span class="areaClassify"></span>무대인사
                                </a>
                            </li>
                            <li>
                                <a href="#">인기 이벤트</a>
                            </li>
                            <li>
                                <a href="#">제휴할인</a>
                            </li>
                            <li>
                                <a href="#">지역별 이벤트</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">스토어</a>
                        <ul class="navDepth02">
                            <li>
                                <a href="#">베스트</a>
                            </li>
                            <li>
                                <a href="#">관람권</a>
                            </li>
                            <li>
                                <a href="#">스낵
                                    <span class="areaClassify"></span>음료
                                </a>
                            </li>
                            <li>
                                <a href="#">굿즈</a>
                            </li>
                            <li>
                                <a href="#">포토카드</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <ul class="utilMenu">
                <li>
                    <a href="#">로그인</a>
                </li>
                <li>
                    <a href="#">회원가입</a>
                </li>
                <li>
                    <a href="#">멤버십</a>
                </li>
                <li>
                    <a href="#">빠른예매</a>
                </li>
                <li>
                    <input type="search" placeholder="'베테랑2' 9월 13일 대개봉!">
                    <button></button>
                </li>
            </ul>
        </div>
    </header>